<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <script src="/javascript/mouse_move.js"></script>
    <link rel="stylesheet" href="/stylesheets/table.css" >
    <title> <%= title %> </title>
  </head>
  <body>
    <% include ../partials/nav-bar.ejs %>

    <div class='row'>
      <div 
        class="alert alert-danger"
        id="alert-danger" 
        style="margin: 20%; display:none;">
      </div>
    </div>

    <div id="container">
      <table>
        <thead>
          <tr>
            <td> Task</td>
            <td> owner name</td>
            <td> created </td>
            <td> actions </td>
          </tr>
        </thead>
        <% _.each(tasks, function(task) { %>
          <tbody>
            <tr class="change-color" id=<%=task._id %> >
      	      <td class='title' style='margin:10px'><%=task.title %></td>
      	      <td style='margin:10px'><%=task.user %></td>
              <td style='margin:10px'><%=task.date %></td>
              <td>
                <button onclick="moveToTask(this)"> See more </button> 
                <button onclick="deleteTask(this)"> Remove </button>
              </td>
      	    </tr>
      	  </tbody>
        <% }); %>
      </table>

      <div>
        <label style="margin:10px">Task name:
          <input id='input-task-name' style="margin:10px"></input>
        </label>
        <button onclick="createTask()" style="margin:10px">
          create
        </button>
      </div>
    </div>
    <% include ../partials/fotter.ejs %>

  <script>
    function moveToTask(obj) {
      var id = $(obj).parent().parent().attr("id");

      window.location.href = '/tasks/' + id;
    }

    function deleteTask(obj) {
      var id = $(obj).parent().parent().attr("id");

      if(id) {
        $.post("/tasks/delete-task", {
          id: id,
        })
        .done(function(data) {
          if(data.error) {
            $("#alert-danger").css('display', 'inline');
            $("#alert-danger").html(data.error);
          } else {
            window.location.reload();
          }
        });
      }
    }

    function createTask() {
      if($('#input-task-name').val()) {
        $.post("/tasks/create-task", {
          title: $('#input-task-name').val(),
        })
        .done(function(data) {
          if(data.error) {
            $("#alert-danger").css('display', 'inline');
            $("#alert-danger").html(data.error);
          } else {
            window.location.reload();
          }
        });
      };
    }
  </script>
  </body>
</html>